<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <main>
      <div class="wrapper">
        <% if(!locals.currentUser){ %>
          <div class="landing-page">
            <h1>Store your files online with the <span class="text-bold">File Uploader</span></h1>
            <a href="/login" class="login-btn">Login</a>
            <h2>Don't have an account? Sign up <a href="/sign-up" class="sign-up-link">here</a></h2>
          </div>
        <% } else { %>
          <h1>USER IS LOGGED IN</h1>
        <% } %>
      </div>
    </main>
  </body>
</html>
